@import url('https://fonts.googleapis.com/css?family=Acme|Inconsolata|Poiret+One|Signika|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans');

:root {
    --fort: 'Fredoka One', cursive;
    --normal: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Slabo 27px', serif;
}

body {
    /*background: url("../Imagens/b.jpeg");*/
    background-color:white;
    background-size: cover;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.field-validation-error {
    color: red;
    font-size: 15px;
}

h1 {
    font-family: var(--fort);
    color: black;
    font-weight: 100;
}

.sobre {
    height: 100%;
}
.header {
    height: 8em;
    background: #45aaf2;
    padding: 0 20px;
    color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.678);
}

#header {
    height: 8em;
    background: #45aaf2;
    padding: 0 20px;
    color: #fff;
    position: relative;
    top: 0px;
    z-index: 30;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.678);
}

.logo {
    line-height: 100px;
    position: absolute;
    top: 3%;
    float: left;
    background-image: url("../Imagens/Logo.png");
    width: 200px;
    z-index: 200;
    height: 7em;
}

.menu {
    float: right;
    line-height: 150px;
    z-index: 90;
}

    .menu a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
        padding: 0 10px;
        transition: 0.4s;
        font-family: var(--fort);
    }

.show-menu-btn, .hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

    .show-menu-btn i {
        line-height: 150px;
    }

    .menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover {
        color: rgb(92, 92, 92);
    }

#chk {
    position: absolute;
    visibility: hidden;
    z-index: 1111;
}


@media screen and (max-width: 800px) {
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }

        .menu a {
            display: block;
            padding: 20px;
        }

    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #chk:checked ~ .menu {
        right: 0;
    }
}

.numero {
    border: 2px solid  #333;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 30%;
    left:40%;
    border-radius: 10px;
    z-index: 99;
    display: none;
    font-size: 30px;
    padding: 4px 4px 4px 4px;
}


    .numero:focus {
        border-color:#5B5A5E;
    }
.lblValor{
    font-family: var(--fort);
}
.qtd{
    font-family: var(--fort);
    font-size: 15px;
    position: absolute;
    top: 20%;
    left: 40%;
    display: none;
}

.box {
    background: rgba(255, 255, 255, 0.44);
    width: 450px;
    padding: 40px;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-bottom: 50px;
    position: absolute;
    top: 80%;
    left: 52%;
    border: 4px solid #efefef;
    height:70px;
}

.y{
    font-family: var(--fort);
    font-size: 25px;
    position: absolute;
    top: 5%;
    left:30%;
}

.boxEditar {
    background: rgba(0, 0, 0, 0.7);
    width: 450px;
    padding: 40px;
    margin-top:20em;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-bottom: 50px;
    border-radius: 10px;
        height: 500px;
}

.lblLogin {
    width: 400px;
    font-family: var(--fort);
    color: white;
    font-size: 25px;
}


#valor{
    font-family: var(--fort);
    font-size: 20px;
    position: relative;
    top: 50%;
    text-align: center;
}

#cepC{
    float:left;
    position:absolute;
    left:5%;

}

input[type = "text"], input[ type = "password"],  input[ type = "tel"], input[ type = "email"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #5B5A5E;
    padding: 14px 10px;
    width: 250px;
    font-size: 20px;
    font-family: var(--normal);
    font-weight: 500;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
}

.box-btn input[type = "text"], .box-btn input[ type = "password"], .box-btn input[ type = "tel"] {
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #5B5A5E;
    width: 250px;
    font-size: 10px;
    font-family: var(--normal);
    font-weight: 500;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}



.box a {
    color: white;
    font-family: var(--normal);
}

input[type = "text"]:focus, input[ type = "password"]:focus, input[ type = "tel"]:focus, input[ type = "email"]:focus {
    width: 280px;
    border-color: #45aaf2;
}

.box-btn {
    color: white;
}


.btn, .Button2, .Button3 {
    border: 0;
    background: none;
    display: inline-block;
    margin: 20px 10px;
    border: 2px solid #45aaf2;
    padding: 14px 25px;
    width: 150px;
    outline: none;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--normal);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box .btn, .Button2, .Button3 {
    border: 0;
    background: none;
    display: inline-block;
    margin: 20px 10px;
    border: 2px solid #45aaf2;
    padding: 14px 25px;
    width: 150px;
    outline: none;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--normal);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

    .btn:hover, .Button2:hover, .Button3:hover {
        background: #45aaf2;
        color: white;
    }


.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    z-index: 200;
}


.search-btn 
{
    background: url("../Imagens/button.png");
    background-size: cover;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    border: unset;
}

.search-txt {
    border: none;
    background: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
}

.lateral a {
    color: #fff;
    display: block;
    font-family: var(--fort);
    text-decoration: none;
    position: relative;
    top: 10%;
    font-size: 20px;
    padding: 10px 10px;
    transition: 0.4s;
    cursor:pointer;
}

.show-menu-btn-perfil {
    position: relative;
    top: 25px;
    left: -3%;
    transition: 0.7s;
    z-index: 2000;
}

    .show-menu-btn-perfil img {
        float: right;
        width: 70px;
        height: 70px;
        z-index: 2000;
    }

.lateral {
    position: fixed;
    height: 100vh;
    background: #45aaf2;
    right: -200%;
    width: 200px;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    z-index: 30;
}

.img-filtro i {
    color: white;
    width: 200px;
    height: 200px;
    position: relative;
    left: 70%;
    top: -9vh;
    z-index: 200;
    cursor: pointer;
}
.aa{
    z-index: 200;
}
#chk-filtro {
    position: absolute;
    visibility: hidden;
    top: 8.5%;
    left: 57%;
    z-index: 1111;
}

#chk-filtro:checked ~ #filtros {
    position: relative;
    top: -13em;
    left: 0em;
    display: inline-block;
    z-index: 3; 
    transition: 0.7s;
}

#filtros {
    background: #666F77;
    position: relative;
    color: white;
    top: -400px;
    height: 50px;
    width: 98.95%;
    z-index: 3;
    text-align: center;
    padding: 20px 10px;
    transition: 0.7s;
}


.filtro {
    position: relative;
    top: 50%;
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2em;
    z-index: 20;
    font-family: var(--normal);
}


#chk-perfil {
    position: absolute;
    visibility: hidden;
    top: 5%;
    left: 90%;
    z-index: 1111;
}

#chk-perfil:checked ~ .lateral {
    right: 0;
    transition: 0.7s;
}

#chk-perfil:checked ~ .show-menu-btn-perfil {
    z-index: 1000;
    transition: 0.7s;
}
#enviar{
    z-index:2000;
}
.show-menu-btn-perfil {
    cursor: pointer;
    display: block;
}

.produto{
    width:200px;
    height: 200px;
}

.boxp .produto {
    width: 10em;
    margin-left: 15%;
    background-size: cover;
    height: 10em;
}

.cc {
    margin-left: 3em;
}

.boxCompra {
    margin-top: -7em;
    margin-left: 5em;
    width: 50em;
    font-family: var(--normal);
    height: 400px;
    display: inline-grid;
    text-align: center;
}

    .boxCompra h2 {
        margin-top: -5em;
        font-family: var(--normal);
    }


    .boxCompra .produto {
        width: 30em;
        margin-left:-12%;
        margin-top:10%;
        background-size: cover;
        height: 30em;
    }

.boxp {
    margin-top: 8em;
    margin-left: 5em;
    width: 15em;
    font-family: var(--normal);
    height: 400px;
    border-radius: 10px;
    border: solid 3px #332F2E;
    display: inline-grid;
    text-align: center;
}


.btn-compra {
    border: 0;
    background: none;
    margin: 20px 20px;
    text-align: center;
    border: 2px solid #45aaf2;
    padding: 14px 40px;
    width: 300px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--normal);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    position: absolute;
    top: 75%;
    left:17%;
}

.btn-comprar {
    border: 0;
    background: #45aaf2;
    display: inline-block;
    margin: 0px 5px;
    padding: 5px 3px;
    width: 120px;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left:65%;
}

.boxp h1{
    font-family: var(--normal);

}
.boxp h2 {
    font-family: var(--normal);
    max-height: 50px;
    font-weight: 200;
    height: 50px;
    font-size: 20px;
}
.boxp h3 {
    font-family: var(--normal);
    font-size: 20px;
    font-weight: 200;
    margin-top: 1em;
}

.cepC{
    position: relative;
    left: 0%;
    top: 10%;
}

.btn-compra:hover {
    background: #45aaf2;
    color: white;
}

.nomeCep {
    position: absolute;
    left: 7%;
}
aw
.nomeDesc {
    font-weight: bold;
}

.desc {
    width: 1000px;
    padding: 40px;
    margin: 100px auto;
    color: black;
    font-size: 20px;
    text-align: justify;
    border: 2px solid black;
    z-index: 100;
    position: absolute;
    top: 102%;
    background-color: white;
    left: 15%;
}

    .desc:before {
        content: '';
        width: 40px;
        height: 40px;
        background: white;
        position: absolute;
        top: -23px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        border-left: 2px solid black;
        border-top: 2px solid black;
    }

.fundoDesc {
    background-color: #efefef;
    height: 30%;
    width: 100%;
    position: absolute;
    top: 110%;
    margin-left: 0em;
    z-index:-10;
}
.nomeP{
    margin-top: 2em;
    font-size:30px;
    margin-left:40%;
}
.preco {
    font-size: 30px;
    color: #FF6E00;
    margin-left: 45%;
    margin-top: -50%;
}

.x{
    padding-left: 20px;
}

@media screen and (max-width: 1000px) {
    .header {
        height: 25vh;
    }

    .search-box {
        top: 20%;
    }
    .img-filtro i{
        top: 18vh;
        left: 90%;
    }
}

.section {
    width: 100%;
    height: 350vh;
}

.gotopbtn {
    z-index: 3;
    position: absolute;
    width: 50px;
    background: #45aaf2;
    bottom: 10%;
    right: 1%;
    text-decoration: none;
    text-align: center;
    line-height: 20%;
    color: white;
    font-size: 26px;
}

.menuFooterD {
    position: absolute;
    margin-top: 0.5em;
    top: 20%;
    left: 16.9%;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
}

.menuFooterP {
    position: absolute;
    left: 1.3%;
    margin-top: 0.5em;
    float: left;
    padding: 0px 10px;
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
}

.creditosFooter {
    position: absolute;
    float: left;
    font-size: 0.9em;
    top: 86%;
    left: 1%;
    float: left;
}

@media screen and (max-width: 300px) {
    .creditosFooter {
        visibility: hidden;
    }

    .icone {
        visibility: hidden;
    }

    .logo {
        visibility: hidden;
    }
}


.hrFooter {
    position: absolute;
    top: 79%;
    left: 0%;
    width: 99.8%;
    border-color: white;
}

.s-mPrincipal {
    background: #45aaf2;
    width: 100%;
    height: 150px;
    position: relative;
    bottom: -25.5em
}

.menuFooterP {
    position: absolute;
    top: 20%;
    float: left;
    padding: 0px 10px;
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    font-family: var(--normal);
}

    .menuFooterD li a, .menuFooterP li a {
        color: white;
        font-family: var(--normal);
    }

.hrFooter {
    position: absolute;
    top: 79%;
    left: 0%;
    width: 99.8%;
    color: white;
    border-color: white;
}

.fPetFeed {
    position: absolute;
    font-size: 150%;
    left: 2%;
    font-weight: 500;
    top: 3%;
    color: snow;
    font-family: var(--fort);
}

.fDescubra {
    position: absolute;
    font-size: 150%;
    left: 17%;
    font-weight: 500;
    top: 3%;
    color: snow;
    font-family: var(--fort);
}

.fSociais {
    position: absolute;
    font-size: 150%;
    left: 81%;
    display: inline-block;
    font-family: var(--fort);
    font-weight: bold;
    top: 14%;
    color: snow;
}

.s-m ul li {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0 10px;
}

.icone {
    display: inline-flex;
    width: 60px;
    height: 60px;
    background: white;
    color: #45aaf2;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 24px;
    float: right;
    margin: 20px 8px;
}

.s-mPrincipal .icone:hover {
    background: rgb(92, 92, 92);
}

.s-mPrincipal a i {
    transition: 0.4s all;
}

.s-mPrincipal {
    grid-row-start: 2;
    grid-row-end: 3;
}

    .s-mPrincipal a:hover > i {
        transform: scale(1.4) rotate(25deg)
    }

    .s-mPrincipal span i {
        color: white;
    }

    .s-mPrincipal span {
        float: left;
        color: white;
        text-align: justify;
    }

.content {
    padding: 0 25%;
    position: absolute;
}

    .content img {
        width: 100%;
        max-width: 100%;
        margin: 20px auto;
    }

@media screen and (max-width: 750px) {
    .fDescubra {
        position: absolute;
        font-size: 150%;
        left: 2%;
        font-weight: bold;
        top: 39%;
        color: snow;
    }

    .menuFooterP {
        position: absolute;
        top: 12%;
        left: 0.5%;
        float: left;
        padding: 0px 10px;
        list-style-type: none;
        display: inline-block;
        text-decoration: none;
    }

    .menuFooterD {
        position: absolute;
        top: 48%;
        left: 0.5%;
        float: left;
        padding: 0px 10px;
        list-style-type: none;
        display: inline-block;
        text-decoration: none;
    }

    .s-mPrincipal {
        width: 100%;
        height: 250px;
        margin-bottom: -1em;
    }

    .creditosFooter {
        position: absolute;
        float: left;
        font-size: 0.9em;
        top: 86%;
        left: 1%;
        float: left;
        width: 83%;
    }

    .gotopbtn {
        z-index: 3;
        position: absolute;
        width: 50px;
        bottom: 15%;
        right: 1%;
        text-decoration: none;
        text-align: center;
        line-height: 30%;
        color: white;
        font-size: 26px;
    }

    .infoNos {
        left: 10%;
    }
}


#myChart {
    padding-top: 20px;
    margin-left: 32%;
    max-height: 50em;
    max-width: 35em;
}




.boxPedido {
    font-family: var(--fort);
    color: white;
    font-size: 25px;
    margin-top: 2em;
    display: inline-block;
}

    .boxPedido span {
        float: left;
        width: 200px;
        margin-left: 2em;
        text-align: center;
        background: #45aaf2;
        padding: 0.5em;
        border-radius: 200pt;
        border-bottom: 0.15em solid #45CAF2;
    }

.boxPedido2 {
    font-family: var(--fort);
    color: white;
    font-size: 25px;
    display: inline-block;
}

    .boxPedido2 span {
        float: left;
        width: 200px;
        margin-left: 2em;
        text-align: center;
        padding: 0.5em;
        border-bottom: 0.15em solid #45aaf2;
    }


.x {
    background: rgba(0,0,0,0.7);
}