
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdicionarProduto</title>

    <link rel="stylesheet" href="~/Content/estiloDentro.css" />
</head>
<body>
    <div class="header">
        <div class="logo"></div>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
            <i class="fas fa-bars"></i>
        </label>

        <ul class="menu">
            <a href="LoginEm">Editar Dados</a>
            <a href="AdicionarProduto">Adicionar Produto</a>
            <a href="PedidosRealizar">Pedidos a Realizar</a>
            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
            </label>

        </ul></div>
        <div class="box">
            <form action="AdicionarProdutoVerdade" method="post">
            <label ID="Label1" runat="server" Text="Adicionar Produto:" CssClass="lblLogin">Adicionar Produto</label>
            <input id="txtNomePro" name="p.Nome" type="text" placeholder="Nome" />
            <input type="file"/>
            <input id="txtFiltro" type="text" name="n" placeholder="Filtro" />
            <input id="txtDescricao" type="text" name="p.Descricao" placeholder="Descrição" />
            <input id="txtreco" type="text" name="p.Preco" placeholder="Preço" />
            <input id="Button2" type="button" value="Cancelar" class="btn" />
            <input id="Button1" type="submit" value="Aplicar" class="btn" />

        </div>
</body>
</html>
