
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CadastroCliente</title>

    <script type="text/javascript" src="~/Script/cadastro.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet"  href="../Content/styleCadastro.css" />
</head>
<body>
    <div class="header">
        <a href="Principal"><div class="logo"></div></a>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
            <i class="fas fa-bars"></i>
        </label>

        <ul class="menu">
            <a href="SobreNos">Sobre nós</a>
            <a href="Pergunta">FAQ</a>
            <a href="CadastroLoja">Loja</a>
            <a href="CadastroCliente">Cliente</a>
            <a href="GraficoPareto">Gráfico de Pareto</a>
            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
            </label>
        </ul>
    </div>
    <form class="box" id="boxCli" method="post" action="/Login/LoginCli">
        <h1>Já sou cadastrado(a):</h1>
        <input id="Text1" name="c.Nome" type="text" autocomplete="off" placeholder="Usuário" maxlength="50" />
        <input id="Password1" name="c.Senha" type="password" autocomplete="off" placeholder="Senha" maxlength="50" />
        <input id="Button1" type="submit" value="Entrar" class="btn" />
        <a href="CriarLoginCliente">Ainda não sou cadastrado</a>
    </form>

    <footer class="s-mPrincipal">

        <p class="fPetFeed">PetFeed</p>
        <ul class="menuFooterP">
            <li><a href="SobreNos">Sobre nós</a></li>
            <li><a href="Pergunta">Fale conosco</a></li>
        </ul>

        <p class="fDescubra">Descubra</p>
        <ul class="menuFooterD">
            <!--Fazer essa página se der tempo-->
            <li><a href="#">Como pedir</a></li>
            <li><a href="CadastroLoja">Cadastre sua loja</a></li>
            <li><a href="CadastroCliente">Cadastre-se</a></li>
        </ul>
        <a class="icone" href="https://www.facebook.com/petfeed.shoping/?epa=SEARCH_BOX"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/petfeed.shopping/?hl=pt-br" class="icone"><i class="fab fa-instagram"></i></a>

        <a href="#" class="icone"><i class="fab fa-twitter"></i></a>
        <!--
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a> -->
        <section></section>
        <a class="gotopbtn" href="#"><i class="fas fa-arrow-up"></i></a>
        <hr class="hrFooter" />
        <span class="creditosFooter" id="creditos">PetFeed <i class="far fa-copyright"></i>Lorenna Joanna Leal Nunes e Maria Eduarda Elias Rocha. Todos os direitos reservados.</span>
    </footer>
</body>
</html>
