
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CadastroLoja</title>

    <script type="text/javascript" src="~/Script/cadastro.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="../Content/estiloCadastro.css" />
</head>
<body>
    <div class="header">
        <div class="logo"></div>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
            <i class="fas fa-bars"></i>
        </label>

        <ul class="menu">
            <a href="SobreNos">Sobre nós</a>
            <a href="Pergunta">FAQ</a>
            <a href="CadastroLoja">Loja</a>
            <a href="CadastroCliente">Cliente</a>
            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
            </label>
        </ul>
    </div>
    <div class="box" id="boxEm">
        <label ID="Label1" Text="Já sou cadastrado:" class="lblLogin">Já sou cadastrado:</label>
        <form method="post" action="/Login/LoginEm">
            <input id="Text1" name="e.Nome" type="text" placeholder="Usuário" />
            <input id="Password1" name="e.CpfDono" type="text" placeholder="CPF" />
            <input id="Button1" type="submit" value="Entrar" class="btn" />
            <a href="CriarLoginLoja">Ainda não tenho um cadastro</a>
        </form>

    </div>
    <footer class="s-mPrincipal">

        <p class="fPetFeed">PetFeed</p>
        <ul class="menuFooterP">
            <li><a href="SobreNos">Sobre nós</a></li>
            <li><a href="Pergunta">Fale conosco</a></li>
        </ul>

        <p class="fDescubra">Descubra</p>
        <ul class="menuFooterD">
            <!--Fazer essa página se der tempo-->
            <li><a href="#">Como pedir</a></li>
            <li><a href="CadastroLoja">Cadastre sua loja</a></li>
            <li><a href="CadastroCliente">Cadastre-se</a></li>
        </ul>
        <a class="icone" href="https://www.facebook.com/petfeed.shoping/?epa=SEARCH_BOX"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/petfeed.shopping/?hl=pt-br" class="icone"><i class="fab fa-instagram"></i></a>

        <a href="#" class="icone"><i class="fab fa-twitter"></i></a>
        <!--
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a> -->

        <hr class="hrFooter" />
        <span class="creditosFooter" id="creditos">PetFeed <i class="far fa-copyright"></i>Lorenna Joanna Leal Nunes e Maria Eduarda Elias Rocha. Todos os direitos reservados.</span>
    </footer>
</body>
</html>
