
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comprar</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="~/Script/Cep.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/styleDentroCliente.css" />
</head>
<body>
    <div>

        <div class="header">
            <div class="logo"></div>
            <div class="menu-perfil">
                <input type="checkbox" id="chk-perfil">
                <label for="chk-perfil" class="show-menu-btn-perfil">
                    <img src="~/Imagens/perfil.png">
                </label>

                <ul class="lateral">
                    <a href="EditarDadosCli">Editar Dados</a>
                    <a href="LoginCli">Pesquisa</a>
                    <a href="#">Pedidos</a>
                    <a href="Pergunta">Ajuda</a>
                    <a href="Principal">Sair</a>
                </ul>
            </div>
        </div>
        <div class="cc">
            <div class="boxCompra">
                <h1 name="">@ViewBag.Produto.Nome</h1>
                <div class="produto" name="p.Imagem" style="background-image: url(@ViewBag.Produto.Imagem)"></div>
                <h2>@ViewBag.Produto.Descricao</h2>
                <h3>@String.Format("{0:c}", ViewBag.Produto.Preco)</h3>
                <form id="form-cep" action="EfetuarCompra" method="POST" class="box">
                    <input type="number" class="numero" name="numero" id="numero" min="1" max="100" />
                    <input type="text" name="pesquisa" id="pesquisa" placeholder="Informe o cep" \>
                    <input type="button" id="btn" class="btn-comprar" value="Buscar CEP" />
                </form>
            </div>
        </div>
        <div id="valor">
            <label id="lblValor"></label>
        </div>
    </div>
</body>
</html>
