
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditarDadosCli</title>
    <link rel="stylesheet" type="text/css" href="~/Content/styleDentroCliente.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

</head>
<body style="background: url('../../Imagens/b.jpeg'); background-size:cover;">
    <div>
        <div class="header">
            <a href="Principal"><div class="logo"></div></a>
            <div class="menu-perfil">
                <input type="checkbox" id="chk-perfil">
                <label for="chk-perfil" class="show-menu-btn-perfil">
                    <img src="~/Imagens/perfil.png">
                </label>

                <ul class="lateral">
                    <a href="EditarDadosCli">Editar Dados</a>
                    <a href="FazerPesquisa">Pesquisa</a>
                    <a href="Pedidos">Pedidos</a>
                    <a href="Pergunta">Ajuda</a>
                    <a href="Principal">Sair</a>
                </ul>
            </div>   cxcdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdd
        </div>
        <div class="boxEditar">
            <form action="EditarDadosCliente" method="post">
                <label ID="Label1" runat="server" Text="Editar Dados:" class="lblLogin">Editar Dados:</label>
                <input id="txtNomeUsu" name="u.Nome" type="text" placeholder="Usuário" autocomplete="off"/>
                <input id="txtCpf"  pattern = "[0-9]{3}[\.][0-9]{3}[\.][0-9]{3}[-][0-9]{2}" name="u.Cpf" type="text" placeholder="CPF" autocomplete="off"/>
                <input id="txtEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="u.Email" type="email" placeholder="E-mail" autocomplete="off"/>
                <input id="senha" name="u.Senha" type="password" placeholder="Senha" autocomplete="off"/>
                <input id="Button2" type="button" value="Cancelar" class="btn" />
                <input id="Button1" type="submit" value="Aplicar" class="btn" />
            </form>
        </div>
    </div>
</body>
</html>
