
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!--<labels: ["SQl Exception", "Erro de conversão", "ViewBag não encontrada", "Hierarquia CSS"], -->
    <meta name="viewport" content="width=device-width" />
    <title>GraficoPareto</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="~/Script/cadastro.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="../Content/estiloPrincipal.css" />
</head>
<body>
    
    <div>
        <div class="header">
            <a href="Principal"><div class="logo"></div></a>
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <i class="fas fa-bars"></i>
            </label>

            <ul class="menu">
                <a href="SobreNos">Sobre nós</a>
                <a href="Pergunta">FAQ</a>
                <a href="CadastroLoja">Loja</a>
                <a href="CadastroCliente">Cliente</a>
                <a href="GraficoPareto">Gráfico de Pareto</a>
                <label for="chk" class="hide-menu-btn">
                    <i class="fas fa-times"></i>
                </label>
            </ul>
        </div>
        <canvas id="myChart" width="35" height="50"></canvas>
        <script>

            var data = {
                animation: {
                    onComplete: function () {
                        var ctx = this.chart.ctx;
                        ctx.textAlign = "center";
                        ctx.textBaseline = "middle";

                        this.chart.config.data.datasets.forEach(function (dataset) {
                            ctx.font = "20px Arial";
                            switch (dataset.type) {
                                case "line":
                                    ctx.fillStyle = "Black";
                                    dataset.metaData.forEach(function (p) {
                                        ctx.fillText(p._chart.config.data.datasets[p._datasetIndex].data[p._index], p._model.x, p._model.y - 20);
                                    });
                                    break;
                                case "bar":
                                    ctx.fillStyle = "White";
                                    dataset.metaData.forEach(function (p) {
                                        ctx.fillText(p._chart.config.data.datasets[p._datasetIndex].data[p._index], p._model.x, p._model.y + 20);
                                    });
                                    break;
                            }
                        });
                    }
                },
                
                labels: ["Dificuldade de Locomoção", "Falta de Produtos", "Alto custo de adesão", "Perda de tempo"],
                datasets: [{
                    type: "line",
                    label: "% Acumulado",
                    borderColor: "#5B5A5E",
                    backgroundColor: "#5B5A5E",
                    pointBorderWidth: 5,
                    fill: false,
                    data: [45.00, 68.00, 86.00, 100.00],
                    yAxisID: 'y-axis-2'
                }, {
                    type: "bar",
                    label: "Erros",
                    borderColor: "#34495e",
                    backgroundColor: "#34495e",
                    data: [10, 5, 4, 3],
                    yAxisID: 'y-axis-1'
                }]
            };

            var options = {
                scales: {
                    yAxes: [{
                        type: "linear",
                        position: "left",
                        id: "y-axis-1",
                        stacked: true,
                        fontSize: 20,
                        ticks: {
                            suggestedMin: 0
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Número de erros",
                            fontSize: 20
                        }
                    }, {
                        type: "linear",
                        position: "right",
                        id: "y-axis-2",
                        ticks: {
                            suggestedMin: 0,
                            callback: function (value) {
                                return value + "%";
                            },
                            fontSize: 20
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Porcentagem",
                            fontSize: 20
                        }
                    }]
                }
            };

            var ctx = document.getElementById("myChart").getContext("2d");

            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: options
            });

        </script>
    </div>
</body>
</html>
