
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PedidosARealizar</title>
</head>
<body>
    <div>
        @foreach(var a in ViewBag.Pedido)
        {

        }
    </div>
</body>
</html>
