@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Perguntas</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="../Content/stylePergunta.css" />
</head>
<body>
    <div class="geral">
        <div class="header">
            <a href="Principal"><div class="logo"></div></a>
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <i class="fas fa-bars"></i>
            </label>

            <ul class="menu">
                <a href="SobreNos">Sobre nós</a>
                <a href="Pergunta">FAQ</a>
                <a href="CadastroLoja">Loja</a>
                <a href="CadastroCliente">Cliente</a>
                <a href="FazerPesquisa">Produtos</a>
                <a href="GraficoPareto">Gráfico de Pareto</a>

                <label for="chk" class="hide-menu-btn">
                    <i class="fas fa-times"></i>
                </label>
            </ul>
        </div>
        <div class="faq">
            <p class="Pagamento">Pagamento</p>
            <a class="collapsible">Não consigo pagar online</a>
            <div class="conteudo">
                <p>
                    O primeiro passo para conseguir pagar online é verificar se os dados do cartão estão cadastrados corretamento no site. Se estiver tudo certo, pedimos que você entre em contato com a emissora do cartão para entender se existe algum problema. Caso esteja tudo correto e , ainda assim, você não conseguir pagar online, pedimos que entre em contato com a gente.<br />
                    <br />
                </p>
            </div>
            <a class="collapsible">Tive uma cobrança indevida</a>
            <div class="conteudo">
                <p>
                    Para solicitar estorno de uma cobrança indevida, pedimos que envie uma mensagem pra gente contendo os dados do pedido e, principalmente, o comprovante de cobrança. Assim, com essas informações em mãos, poderemos entender seu caso e providenciar o estorno do valor cobrado indevidamente.
                    <br />
                    <br />

                </p>
            </div>
            <a class="collapsible">Não recebi meu estorno</a>
            <div class="conteudo">
                <p>Caso você não tenha recebido o estorno solicitado por conta de uma cobrança indevida, pedimos que envie uma mensagem pra gente contendo os dados do pedido e, principalmente, o comprovante de cobrança. Assim, com essas informações em mãos, poderemos entender seu caso e providenciar o estorno do valor cobrado indevidamente.</p>
                <br />
                <br />

            </div>
            <p class="Pagamento">Conta e Privacidade</p>
            <a class="collapsible">Minha conta foi invadida por alguém</a>
            <div class="conteudo">
                <p>O acesso indevido à sua conta pode ter ocorrido pelo comprometimento da sua senha. Se a mesma senha é usada em mais de um serviço, um icidente de segurança em um destes dos serviços pode comprometer os outros. Se isso aconteceu, saiba que o invasor não teve acesso aos seus dados de pagamento no PetFeed, pois eles ficam salvos apenas no seu dispositivo (tablet, computador ou celular). Nesse caso, recomendamos a alteração da sua senha para uma nova mais forte, preferencialmente utilizando letras maiúscula e caracteres especiais (por exemplo #, !, etc).</p>
                <br />
                <br />

            </div>
            <a class="collapsible">Não encontro meu endereço</a>
            <div class="conteudo">
                <p>Se o seu CEP está errado ou se você teve qualquer outro problema para encontrar a sua localização no site, pedimos que envie uma mensagem pra gente com seu endereço correto e completo. Assim, poderemos trabalhar para melhorar nossa precisão de localização</p>
                <br />
                <br />

            </div>
            <a class="collapsible">Quero exluir uma avaliação que eu fiz</a>
            <div class="conteudo">
                <p>Entendemos que às vezes podemos mudar de ideia! Para que nosso time te ajude a excluir uma avaliação, envie uma mensagem para o PetFeed.</p>
                <br />

            </div>
            <a class="collapsible">Quero exluir minha conta</a>
            <div class="conteudo">
                <p>Sentimos muito pela sua escolha de deixar o PetFeed. Para desativarmos a sua conta, é necessário que nos envie uma mensagem. Se você quiser voltar a fazer pedido conosco, mande-nos uma mensagem contendo o e-mail da sua conta antiga ou refaça o seu cadastro com um novo e-mail.</p>
                <br />
                <br />

            </div>
            <p class="Pagamento">Loja</p>
            <a class="collapsible">Quero ser parceiro</a>
            <div class="conteudo">
                <p>Se você ainda não é uma loja cadastrada no PetFeed, você pode resolver isso agora mesmo por aqui.</p>
                <br />
                <br />
                <!--link para cadastrar restaurante -->
            </div>
            <p class="Pagamento">Institucional</p>
            <a class="collapsible">Quero falar com a acessoria de imprensa do PetFeed</a>
            <div class="conteudo">
                <p>Se você é um jornalista e quer informações sobre o PetFeed, pedimos que entre em contato com a nossa acessoria de imprensa.</p>
                <br />
                <br />
                <!--link "falar com a nossa acessoria de imprensa" -->
            </div>
            <a class="collapsible">Quero saber mais sobre o PetFeed</a>
            <div class="conteudo">
                <p>O PetFeed é líder em delivery online de rações e uma das mais inovadoras formas de acesso a tal compra destes produtos. Há um ano no mercado, de origem brasileira, estando presente somente no país.</p>
                <br />
                <br />
                <!--link "Saber mais sobre a gente" e abrir o sobre nos -->
            </div>
        </div>
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                    } else {
                        content.style.maxHeight = content.scrollHeight + "px";
                    }
                });
            }
        </script>

        <footer class="s-mPrincipal">

            <p class="fPetFeed">PetFeed</p>
            <ul class="menuFooterP">
                <li><a href="SobreNos">Sobre nós</a></li>
                <li><a href="Pergunta">Fale conosco</a></li>
            </ul>

            <p class="fDescubra">Descubra</p>
            <ul class="menuFooterD">
                <!--Fazer essa página se der tempo-->
                <li><a href="#">Como pedir</a></li>
                <li><a href="CadastroLoja">Cadastre sua loja</a></li>
                <li><a href="CadastroCliente">Cadastre-se</a></li>
            </ul>
            <a class="icone" href="https://www.facebook.com/petfeed.shoping/?epa=SEARCH_BOX"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/petfeed.shopping/?hl=pt-br" class="icone"><i class="fab fa-instagram"></i></a>

            <a href="#" class="icone"><i class="fab fa-twitter"></i></a>
            <!--
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a> -->
            <section></section>
            <a class="gotopbtn" href="#"><i class="fas fa-arrow-up"></i></a>
            <hr class="hrFooter" />
            <span class="creditosFooter" id="creditos">PetFeed <i class="far fa-copyright"></i>Lorenna Joanna Leal Nunes e Maria Eduarda Elias Rocha. Todos os direitos reservados.</span>
        </footer>

    </div>
</body>
</html>
