
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SobreNos</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="../Content/estiloSobre.css"/>
</head>
<body>
    <div class="header">
        <a href="Principal"><div class="logo"></div></a>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
            <i class="fas fa-bars"></i>
        </label>

        <ul class="menu">
            <a href="SobreNos">Sobre nós</a>
            <a href="Pergunta">FAQ</a>
            <a href="CadastroLoja">Loja</a>
            <a href="CadastroCliente">Cliente</a>
            <a href="GraficoPareto">Gráfico de Pareto</a>

            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
            </label>
        </ul>
    </div>
    <div class="sobreNos" data-stellar-background-ratio="0.5">
        <section class="primeiroSobre">
            <div class="lema">
                <span class="span1">
                    Nosso propósito é revolucionar o universo da alimentação dos animais dando ao seu dono uma vida mais pratica
                </span>
                <br>
                <br>
                <br>
                <br>
                <span class="span2">
                    Assim como nós, todos os outros animais precisam de uma alimentação adequada, pois é de onde retiramos a energia necessária para manter o organismo funcionando corretamente e para realizar todas as nossas atividades. 
                </span>
            </div>
        </section>
        <section class="segundoSobre">
            <div class="primeiroDepoimento">
                <span class="span2">
                    “Costumo pedir ração pelo PetFeed para meu bezerro. E vendo ele feliz se alimentado me sinto recompensada.”
                </span>
                <br>
                <br>
                <br>
                <span class="span3">
                    Cauany Emilly<br>
                    Alegrete-PI
                </span>
            </div>


            <div class="segundoDepoimento">
                <span class="span2">
                    “Ao sair de casa, eu gasto com gasolina, pego trânsito, pago estacionamento e tenho que ficar na fila. Com delivery online, eu me poupo disso tudo.”

                </span>
                <br>
                <br>
                <span class="span3">
                    Vítor Calhau<br>
                    Americana-SP
                </span>
            </div>
        </section>
        <footer class="s-mPrincipal">

            <p class="fPetFeed">PetFeed</p>
            <ul class="menuFooterP">
                <li><a href="SobreNos">Sobre nós</a></li>
                <li><a href="Pergunta">Fale conosco</a></li>
            </ul>

            <p class="fDescubra">Descubra</p>
            <ul class="menuFooterD">
                <!--Fazer essa página se der tempo-->
                <li><a href="#">Como pedir</a></li>
                <li><a href="CadastroLoja">Cadastre sua loja</a></li>
                <li><a href="CadastroCliente">Cadastre-se</a></li>
            </ul>
            <a class="icone" href="https://www.facebook.com/petfeed.shoping/?epa=SEARCH_BOX"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/petfeed.shopping/?hl=pt-br" class="icone"><i class="fab fa-instagram"></i></a>

            <a href="#" class="icone"><i class="fab fa-twitter"></i></a>
            <!--
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a> -->

            <section>

            </section>
            <a class="gotopbtn" href="#"><i class="fas fa-arrow-up"></i></a>

            <hr class="hrFooter" />
            <span class="creditosFooter" id="creditos">PetFeed <i class="far fa-copyright"></i>Lorenna Joanna Leal Nunes e Maria Eduarda Elias Rocha. Todos os direitos reservados.</span>
        </footer>
    </div>
</body>
</html>
