
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PerfilEmpresa</title>

    <link rel="stylesheet" type="text/css" href="~/Content/estiloDentro.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
        <div class="box">
            <label ID="Label1" runat="server" Text="Editar Dados da Empresa:" Width=440px class="lblLogin">Editar Dados da Empresa:</label>
            <input id="txtNomeEm" type="text" placeholder="Nome" />
            <input id="txtCpf" type="text" placeholder="CPF" />
            <input id="txtEmail" type="email" placeholder="E-mail" />
            <input id="senha" type="password" placeholder="Senha" />
            <input id="Button2" type="button" value="Cancelar" class="btn" />
            <input id="Button1" type="button" value="Aplicar" class="btn" />
        </div>
</body>
</html>
